.single-container
  = render "products/header"

  %main.single-main
    %section.l-single-container.buy-item-container
      %h2.l-single-head.buy-head 購入内容の確認
      %section.buy-content.buy-item
        .buy-content-inner
          .buy-item-box
            %h3.buy-item-image
              = image_tag "#{@product_images[0].image}", class: 'product_images_top'
            .buy-item-detail
              %p.buy-item-name
                = "商品名：#{@product.name}"
              %p.buy-price-ja.bold
                %span
                ¥
                = @product.price
                %br
                %span.item-shipping-fee （税込）送料込み
      %section.buy-content.buy-item
        .buy-content-inner
          %form.buy-form
            %ul.buy-price-table
              %li.buy-price-row.buy-you-pay.bold
                .buy-price-cell.buy-price-cell-label 支払い金額
                .buy-price-cell
                  %span
                  ¥
                  = @product.price
            %section.buy-content.buy-user-info{"data-buy" => "pay-method"}
              .buy-content-inner
                %h3 支払い方法
                - if @card.present?
                  .buy-content-inner-credit
                    %label 
                      カード番号：
                      = "**** **** **** " + @default_card_information.last4
                    %br
                    %label 
                      有効期限：
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = exp_month + " / " + exp_year
                  %br
                  .buy-register-note 
                    クレジットカードの変更をされる場合は
                  = link_to new_card_path, data: {"turbolinks" => false}, class:"no-underline"  do
                    %p.buy-user-info-text
                      = icon 'fas', 'chevron-right'
                      %span.buy-register-text こちらから変更ください。
                - else
                  .buy-register-note-red 
                    商品の購入にはクレジットカードの登録が必要です。
                  
            %section.buy-content.buy-user-info
              .buy-content-inner
                .clearfix
                  %h3.l-left 配送先
                  = link_to '#', class: 'l-right buy-user-info-fix no-underline' do
                    %span 変更する
                    = icon 'fas', 'chevron-right'
                %address.buy-user-info-text
                  %p
                    = "〒#{@address.zipcode}"
                    %br/
                    = @address.prefecture
                    = @address.city
                    %br/
                    = @address.municipality
                    = @address.address
                    %br/
                    = @address.building_name
                    %br/
                    = "#{current_user.first_name}#{current_user.last_name} 様"
            .buy-content.buy-user-info
            - if @card.present?
              = link_to pay_product_buys_path, method: :post, class:"no-underline" do
                %button.btn{type:"submit",class:"btn-default btn-blue"} 購入する
            - else
              = link_to new_card_path,class:"btn-default btn-blue", data: {"turbolinks" => false} do
                クレジットカードを登録する

  = render "products/footer"