.l-content
  %section.mypage-user-link
    %figure
      = image_tag 'member_photo_noimage_thumb.png', class: 'mypage-user-icon',size: '48x48'
    %h2.bold
      = "ユーザー名：#{current_user.nickname}"
    .mypage-number
    
  %section.mypage-tab-container-notification-todo
    %ul.mypage-tabs
      %li.active
        %h3
          = link_to '#', class: 'mypage-nav-link active' do
            お知らせ
    .tab-content
      %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
        - @products.each do |product|
          - if product.seller_id  == current_user.id
            %li
              = link_to product_path(product), data: {"turbolinks" => false}, class: 'mypage-item-link' do
                %figure
                  = image_tag 'logologo.png', class: 'mypage-logo-icon',size: '48x48'
                .mypage-item-body
                  .mypage-item-text 
                    = "事務局から個別メッセージ「#{product.name}を出品しました」"
                  %time
                    = icon 'far', 'clock'
                    %span
                      = product.created_at.to_s(:datetime_jp)
                = icon 'fas', 'chevron-right'
        - if @products.blank?
          %li
            = link_to '#', class: 'mypage-item-link' do
              %figure
                = image_tag 'logologo.png', class: 'mypage-logo-icon',size: '48x48'
              .mypage-item-body
                .mypage-item-text 
                  = "事務局から個別メッセージはありません"
  %section.mypage-tab-container
    %h2.mypage-tab-head 購入した商品
    %ul.mypage-tabs
      %li.active
        %h3
          = link_to '#', class: 'mypage-tab-transaction-now-link' do
            取引中
      %li
        %h3
          = link_to '#', class: 'mypage-tab-transaction-old-link' do
            過去の取引
    .tab-content
      %h3
        取引中の商品がありません 
      %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
      %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
        %li.mypage-item-not-found.bold 