%bodybody
  .single-container
    = render "header"

    %main.single-main
      %section.l-single-container.buy-item-container
        #sell-container
          .data-reactroot
            .sell-container-inner
              = form_with(model: @product, html: { class: "formsample"}) do |f|
                %h2.l-single-head 商品の情報を入力
                = render 'layouts/error2_messages', model: f.object
                .sell-form
                  .sell-upload-box
                    %h3.sell-upload-head
                      出品画像
                      %span.form-require 必須
                    %p 最大10枚までアップロードできます
                    #image-box
                      #previews
                        - if @product.persisted?
                          - @product.images.each_with_index do |image, i|
                            = image_tag image.src.url, data: { index: i }, width: "100px", height: '100px'
                      = f.fields_for :images do |image|
                        %label.js-file_group{"data-index" => "#{image.index}"}
                          = image.file_field :image, class: 'js-file'
                          %br/
                          %pre.visible-pc
                            :preserve
                              ドラッグアンドドロップ
                              またはクリックしてファイルをアップロード
                            %i.icon-camera.fas.fa-camera
                        - if @product.persisted?
                          = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                      - if @product.persisted?
                        .js-file_group{"data-index" => "#{@product.images.count}", style: 'display: none'}
                          = file_field_tag :image, name: "product[images_attributes][#{@product.images.count}][image]", class: 'js-file'
                  .image_error
                  .sell-content
                    .form-group
                      %label
                        商品名
                        %span.form-require 必須
                      %div
                        = f.text_field :name, placeholder: '商品名 (必須40文字まで)', class: 'input-default', required: true
                        -if @product.errors.any? 
                          %p 商品名入れてね
                    .form-group
                      %label
                        商品の説明
                        %span.form-require 必須
                      = f.text_area :description, placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', class:'textarea-default',required: true
                  .sell-content.clearfix
                    %h3.sell-sub-head 商品の詳細
                    .sell-form-box
                      .form-group
                        %label
                          カテゴリー
                          %span.form-require 必須       
                        .select-categories-form
                    .product-text-form__category.sell-form-box
                      .actions
                        = f.collection_select :category_id, @parents, :id, :name, { prompt: "---" }, { id:"product_category_id", class: 'category_select_id', name:"" }
                      .form-group
                        %label
                          ブランド
                          %span.form-require-gray 任意
                        .select-wrap
                          %i.icon-arrow-bottom.fas.fa-angle-down
                          = f.collection_select :brand_id, Brand.all, :id, :name, {prompt: "---" }, class: 'select-default'
                      .form-group
                        %label
                          商品の状態
                          %span.form-require 必須
                        .select-wrap
                          %i.icon-arrow-bottom.fas.fa-angle-down
                          = f.collection_select :status_id, Status.all, :id, :name, {}, class: 'select-default'
                  .sell-content.clearfix
                    %h3.sell-sub-head 配送について
                    .sell-form-box
                      .form-group
                        %label
                          配送料の負担
                          %span.form-require 必須
                        .select-wrap
                          %i.icon-arrow-bottom.fas.fa-angle-down
                          = f.collection_select :delivery_charge_id, DeliveryCharge.all, :id, :name, {}, class: 'select-default'
                      .form-group
                        %label
                          発送元の地域
                          %span.form-require 必須
                        .select-wrap
                          %i.icon-arrow-bottom.fas.fa-angle-down
                          = f.collection_select :ship_from_id, ShipFrom.all, :id, :name, {}, class: 'select-default'
                      .form-group
                        %label
                          発送までの日数
                          %span.form-require 必須
                        .select-wrap
                          %i.icon-arrow-bottom.fas.fa-angle-down
                          = f.collection_select :delivery_days_id, DeliveryDays.all, :id, :name, {}, class: 'select-default'
                  .sell-content.clearfix
                    %h3.sell-sub-head 販売価格(300〜9,999,999)
                    .sell-form-box
                      %ul.sell-price
                        %li.form-group
                          .clearfix
                            %label.l-left
                              価格
                              %span.form-require 必須
                            .l-right.sell-price-input
                              ¥
                              %div
                                = f.number_field :price, class: 'price-flex__input', placeholder: '例） 300', required: true
                          .price_error
                        %li.clearfix
                          .l-left
                            販売手数料 (10%)
                          %p.result-fee -
                        %li.clearfix.bold
                          .l-left 販売利益
                          %p.result-profit -
                  .modal{role: 'dialog', tabindex: '-1'}
                    .modal-inner
                  .sell-content.sell-btn-box
                    %div
                      %p
                        = link_to '禁止されている出品', '#', target:'_blank'
                        、
                        = link_to '行為', '#', target:'_blank'
                        を必ずご確認ください。
                      %p
                        またブランド品でシリアルナンバー等がある場合はご記載ください。
                        = link_to '偽ブランドの販売', '#', target:'_blank'
                        は犯罪であり処罰される可能性があります。
                      %p
                        また、出品をもちまして
                        = link_to '加盟店規約', '#', target:'_blank'
                        に同意したことになります。
                    =f.submit class: 'btn-default btn-red', value: '出品する' ;
                    = link_to 'もどる', root_path,class:"btn-default btn-gray"
                .overlay
    = render "footer"